{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-6 container-fluid bg-beige py-3 mt-5 card text-center border-black font-weight-bold text-brown">
        <h1>Order Status List</h1>
        <ul class="list-group">
            <li class="list-group-item bg-beige">
                <div class="row mx-auto px-auto">
                    <div class="col-12">
                        {% for order_status in status_list %}
                        <p class="card bg-beige btn">Status: {{ order_status.status }}
                            <span>
                                <a class="btn btn-primary" href="{% url 'order_status_update' pk=order_status.pk %}">Edit</a>
                                <a class="btn btn-danger" href="{% url 'order_status_delete' pk=order_status.pk %}">DELETE</a>
                            </span>
                        </p>
                        {% empty %}
                        <li class="list-group-item bg-beige">No order statuses yet.</li>
                        {% endfor %}
                    </div>
                </div>
            </li>
        </ul>
        <a href="{% url 'add_status' %}" class="shop-now-button center btn my-1 rounded-0 text-uppercase py-1">Create Order Status</a>
    </div>
</div>
{% endblock %}