<footer class="container-fluid bg-beige py-3 mt-5">
    <div class="row">
        <div class="col-12 col-lg-4 my-0 text-center">
            <h5 class="text-brown font-weight-bold mb-2">Contact Us</h5>
            <ul class="list-unstyled">
                <li class="text-black">Email: <a href="mailto:info@copacabanajewellery.com" class="text-brown">copacabanajewel@gmail.com</a></li>
                <li class="text-black">Phone: <span class="text-brown">(123) 456-7890</span></li>
            </ul>
        </div>
        <div class="col-12 col-lg-4 my-0 text-center">
            <h5 class="text-brown font-weight-bold mb-2">Follow Us</h5>
            <ul class="list-inline mb-0">
                <li class="list-inline-item">
                    <a href="#">
                    <i class="text-brown fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.instagram.com/copacabana_jewelry/">
                    <i class="text-brown fab fa-instagram"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#">
                    <i class="text-brown fab fa-twitter"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-lg-4 my-0 text-center">
            <h5 class="text-brown font-weight-bold mb-2">About Us</h5>
            <p class="text-brown mb-0">We are a small family-owned business specializing in unique design jewellery from Worldwide.</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 text-center">
            <p class="text-brown mb-0">&copy; Copacabana Jewellery {{ current_year }}</p>
        </div>
    </div>
</footer>